.fill-Fields{
     margin-bottom: 10px;
     user-select: none; /* Standard syntax */
}

.fill-Fields, label:hover{
     cursor: pointer;
}

.myBtn{
     cursor: pointer;
     background-color: white;
     border: 1px solid black;
     color: black;
}

.myBtn:hover{
     background-color: black;
     color: white;
}