body {
  overflow: hidden; /* Remove scrollbar from body */
  margin: 0; /* Remove default margin */
}

.box-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90vh; /* Set height of container to full viewport height */
  overflow: hidden; /* Remove scrollbar from container */
}

.box {
  width: 750px; /* Adjusted width */
  height: 480px; /* Adjusted height */
  border: 1px solid #ccc;
  border-radius: 15px; /* Added border radius */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.361);
}

.box-content {
  display: flex;
  justify-content: space-between;
  height: 100%; /* Make box content fill box height */
}

.box-part {
  width: 50%; /* Adjusted width */
  padding: 20px; /* Increased padding */
  box-sizing: border-box;
}
.box-part.login-form {
  width: 50%; /* Adjusted width */
  padding: 10px;
}
.logo img {
  max-width: 80%; /* Adjusted size */
  height: auto;
}

.welcome-quote {
  margin-top: 2rem; /* Increased margin */
  padding: 2%;
  font-size: 24px; /* Increased font size */
}

.welcome-image-container {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 80%; /* Adjusted height */
  margin-top: 1rem;
}

.welcome-image {
  width: 100%; /* Adjusted width */
  height: auto; /* Maintain aspect ratio */
}

.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 100%; /* Adjusted height to 100% of the box height */
  align-self: center; /* Align the line vertically to the center */
}

.login-form h2 {
  font-size: 36px; /* Increased font size */
  margin-left: 15px;
  padding: 2%;
}

.login-form form {
  margin : 20px
}

.input-group-text{
  height: 2.85rem;
}


.login-form input {
  margin-bottom: 15px; /* Increased margin */
  padding: 10px; /* Increased padding */
  border-radius: 10px; /* Added border radius */
}

.login-form button {
  padding: 12px; /* Increased padding */
  border-radius: 10px; /* Added border radius */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width : 100%
}

.custom-input {
  width: 38px; /* Adjusted width */
  padding: 0 10px; /* Added padding */
}

.login-form button:hover {
  background-color: #0056b3;
}

.extra-options {
  margin-top: 20px; /* Increased margin */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-options a {
  margin-right: 10px; /* Added margin between links */
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Set link color */
}

.extra-options a:hover {
  text-decoration: underline; /* Underline on hover */
}

.forgot-password {
  color: #888; /* Color for forgot password link */
}


.register {
  color: #009900; /* Color for register link */
}

.alert {
  background-color: #f8d7da; /* Background color for alert */
  color: #721c24; /* Text color for alert */
  padding: 10px; /* Padding for alert */
  border-radius: 5px; /* Border radius for alert */
  margin: 0px 20px 20px 20px; /* Margin top for alert */
} 
